<script src="https://unpkg.com/vue"></script>

<div id="app">
  <p>{{ message }}</p>
</div>

<div id="app-2">
  <p v-bind:title="message">
    Hover your mouse over this text for a few seconds to see its dynamically bound title :)
  </p>
</div>

<div id="app-3">
  <p v-if="seen">
    Now you see me
  </p>
</div>

<div id="app-4">
  <ol>
    <li v-for="todo in todos">{{ todo.name }}</li>
  </ol>
</div>

<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse message!</button>
</div>

<script src="index.js"></script>
